<h1>Add Book</h1>
<form action="/books/save" method="post">
    <label for="name">Name</label>: <input type="text" name="name" required><br>
    <label for="name">Author</label>: <input type="text" name="author" required><br>
    <label for="name">Genre</label>: <input type="text" name="genre" required><br>
    <button>Save</button>
</form>